.heading {
	text-align: center;
	font-weight: bold;
	font-family: arial;
	font-size: 60px;
}

a:hover {
	text-decoration: none;
}

.chambo {
	color: #002C71;
}

.design {
	color: black;
}

.left {
	margin-left: 20px;
	text-align: center;
}

.right {
	margin-left: 20px;
	text-align: center;
}

.left a,
.right a {
	font-family: arial;
	font-size: 20px;
	margin-bottom: 20px;
	color: black;
}

.left a:hover,
.right a:hover {
	text-decoration: underline;
}

header:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.column {
	border: 5px solid black;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

header {
	border-top: 1px solid black;
	border-bottom: 5px solid black;
	margin-bottom: 20px;
	background-color: #E6F1F6;
}

body {
	background-color: #545E7B;
}